{{ partial "header.html" . }}
<div class="body">
<nav><a href="{{.Site.BaseURL}}/">{{.Site.Title}}</a> / {{.Section}}</nav>
          {{ range .Paginator.Pages }}
              <article><h1><a href="{{ .Permalink }}">{{.Date.Format "Monday"}} the {{.Date.Format "2" | humanize}} of {{.Date.Format "January 2006"}}</a></h1>
 {{.Content}}
              </article>
          {{ end }}
      {{ partial "pagination.html" . }}

</div>
{{ partial "footer.html" . }}
