{{ partial "header.html" . }}
<div class="body">
<nav><a href="{{.Site.BaseURL}}/">{{.Site.Title}}</a> / <a href="{{.Site.BaseURL}}/{{.Section}}">{{.Section}}</a> / {{ .File.BaseFileName }}</nav>
<article class="h-entry">
<h1 class="p-name"><a class="u-url" href="{{ .Permalink }} ">{{.Date.Format "Monday"}} the {{.Date.Format "2" | humanize}} of {{.Date.Format "January 2006"}}</a></h1>
<span class="e-content">{{.Content}}
</span>   
</article>
</div>
{{ partial "footer.html" . }}    

