<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <head>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ .Title }} ~ {{ .Site.Title }}</title>
        {{- partial "css" . -}}
        <link rel="canonical" href="{{ .Permalink }}">
            </head>
<body>
