@font-face {
    font-family: 'ArchitectsDaughterRegular';
    src: url('/fonts/architects.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }
body {background-color: #fff;font-family: 'ArchitectsDaughterRegular';color: #330;text-align:center;}
article a {text-decoration:none;color:blue;}
h1 a, h2 a , h3 a, footer a {text-decoration:none;color: #330;}
nav {text-align:left;}
article {
background-color: #fffff8;
padding: 1em;
margin: 1em;
font-size: 1.2em;
text-align:left;}
